@charset "UTF-8" ;

*{
padding : 0px ;
margin : 0px ;
}

.blue   {

display : block ;
width : 95% ;
margin: auto;    
}

#initial{

background-color: rgba(0, 0, 0, 0.267);
padding : 30px ;
width : 90% ;
margin : 10px auto ;
border-radius: 30px;
}

body{

background-color: rgb(109, 91, 126);

}
/* 
.central{
display : block ;
width: 70%;
margin : auto ;

} */

body{

 background-image: url(); 
background-size: cover;
background-attachment: fixed;

}


p#parabaixo{
background-color: rgba(0, 0, 0, 0.431);

font-size: 2em;
color: white;
width : 80% ;
margin : 1000px  auto  100px auto ;
border-radius: 20px;

}

section.resposta{
background-color: rgba(0, 0, 0, 0.700);
width: 80%;

margin : 60px auto;
border-radius: 40px 0px;
padding : 10px ;
font-size: 2em;
color: white;





}

































/* esse é o lugar das linhas amaldiçoadas */






